@keyframes animateAlertContainer {
	0% {
		background-color: transparent;
	}
	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes animateAlertBox {
	0% {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}

#alertBox-container {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: animateAlertContainer;
	animation-duration: 0.3s;
}

#alertBox {
	background-color: #ffff;
	margin: 25vh auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: calc(80% - 100px);
	padding: 10px;
	border-radius: 5px;
	font-size: 1rem;
	user-select: none;
	animation-name: animateAlertBox;
	animation-duration: 0.3s;
	position: relative;
}

#alertBox p {
	font-size: 2.1em;
	color: #000;
	text-align: center;
}

#error-icon {
	color: red;
	font-size: 3rem;
}

#alertClose-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 2.2rem;
	color: red;
}
