* {
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	color: white;
	/* outline: red solid 1px; */
}

:root {
	--primary: #ffbb00;
	--background: rgb(48, 47, 47);
}

body {
	background-color: var(--background);
}

.header {
	text-align: center;
	margin: 30px 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px auto;
	width: auto;
}

#add-task-container {
	width: 500px;
	margin-bottom: 15px;
	display: flex;
	position: relative;
	font-size: small;
}

#input-task {
	font-size: large;
	font-weight: 700;
	width: 100%;
	height: 40px;
	border: 3px solid var(--primary);
	border-radius: 5px 0 0 5px;
	border-right: none;
	padding: 5px;
	outline: none;
	color: black;
}

#input-task:focus {
	font-weight: 700;
}

#add-task {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding-top: 5px;
	border: 1px solid var(--primary);
	border-radius: 0 5px 5px 0;
	background: var(--primary);
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

#add-task .icon {
	width: 20px;
	height: 20px;
}

input::placeholder {
	color: black;
	font-size: 12px;
	font-weight: 500;
}

#tasks-container {
	flex-flow: column wrap;
	width: 500px;
}

.task {
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--primary);
	border-radius: 10px;
	height: auto;
	margin-bottom: 5px;
	padding: 10px 10px 10px 15px;
}

.task .content {
	flex: 2;
	height: auto;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 600;
	list-style: none;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.taskbtn-Container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto 0;
	min-width: 100px;
}

.check-btn,
.delete-btn {
	background-color: var(--background);
	border: 3px solid var(--primary);
	border-radius: 4px;
	height: 33px;
	/* margin: 0 4px; */
}

.check-btn:hover {
	border: 3px solid rgb(0, 255, 0);
	transition: 200ms;
}

.delete-btn:hover {
	border: 3px solid rgb(255, 0, 0);
	transition: 200ms;
}

.dateAndTime {
	font-size: 10px;
	text-align: right;
	margin: 3px 0;
	flex-basis: 100%;
	width: 0;
	height: auto;
}
